*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: rgb(245, 209, 4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(0, 0, 0, 0.822);
}
section ,article ,div ,footer{
    background: none;
}
h1, h2, h3, h4, p ,div{
    background: none;
}
img{
    max-width: 100%;
}
/*SCROLL*/
#scroll{
    padding-top:120px;
    width:100%;
    margin:0;
    overflow: hidden;
    height: 200px;
}
#scroll ul{
    display:flex;
    width:420%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
#scroll ul li{
    list-style: none;
    width: 100%;
}
#scroll  img{
    width: 100%;
    height:200px;
    background: black;
}
@keyframes cambio {
    0% {margin-left: 0; }
    20%{ margin-left: 0; }

    25%{margin-left: -105%;}
    45%{margin-left: -110%;}

    50%{margin-left: -205%;}
    70%{margin-left: -210%;}

    75%{margin-left: -310%;}
    100%{margin-left: -320%;}
}
header{
    position:fixed;
    z-index: 1;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#logotipo{
    width: 100px;
    max-width: 100%;
}
.nav__principal{
    width: 100%;
    background: rgb(2, 2, 2);
}
.nav__principal ul{
    display: flex;
    width:100%;
    background: rgb(0, 0, 0);
    justify-content:space-evenly;
}
.nav__principal ul li{
    text-align: center;
    font-size:.8rem;
    background:none;
}
.nav__principal ul li a{
    color: rgb(203, 206, 20);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav__principal ul li a:hover{
    color:rgb(138, 138, 48);
    transition:0.6s;
    font-size: 12px;
}
/*MEDIA QUERIE*/ 
.encabezado__articulo{
    text-align: center;
    justify-content: center;
}
.encabezado__titulo{
    font-size: 2rem;
    color: gold;
}
.encabezado__complemento{
    font-size: .8rem;
    position: relative;
    text-align: center;
    width: 100%;
}
.cards__title{
    font-size: 1rem;
    text-decoration: underline;
    margin-top:150px;
}
.cards__noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:100px;
    width: 100%;
    max-width: 100%;
}
.button__arriba{
    display: inline-block;
    background: rgb(12, 12, 12);
    margin:80px 20px;
}
.button__arriba a{
    color: black;
    background: gold;
    font-size: 1rem;
}
.button__arriba a:hover{
    background: rgb(245, 219, 74);
    box-shadow: 0px 0px 10px gold;
    transition: 0.5s;
}
.cards{
    border: solid 1px;
    width:500px;
    height:565px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(255, 238, 0);
    margin:10px;
}
.cards img{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin:auto;
    width: 450px;
    max-height:300px;
}
.cards h4{
    padding:1rem;
    font-size: 1.8rem;
}
.cards p{
    color: rgb(241, 208, 124);
    padding: 1rem;
    font-size: 1.3rem;
    background: rgb(19, 18, 18);
    font-family: 'Courier New', Courier, monospace;
}
.cards:hover{
    box-shadow: 0px 0px 40px rgb(255, 238, 0);
    transition: 1s;
    cursor: pointer;
}
.formulario{
    height: 100%;
    border: 2px solid;
    align-content: center;
    text-align: center;
    margin:auto;
    margin-top: 130px;
    background: none;
    background: black;
}
.formulario h2{
    justify-content: center;
    font-size:1.4rem;
    padding:auto;
    background: none;
    margin: 50px;
}
.formulario input{
    background: white;
    height:25px;
    color: black;
}
.formulario__nombre{
    font-size: 1rem;
    margin-top: 10px;
}  
.formulario__correo{
    font-size: 1rem;
    margin-top: 10px;
}
.formulario__mensaje{
    font-size: 1rem;
    margin-top:10px;
    padding: auto;
}
.formulario textarea{
    background: white;
    color: black;
}
#Enviar{
    color: rgb(253, 251, 251);
    background: rgb(6, 173, 196);
    padding:auto;
    font-size: 1rem;
    margin:50px;
    width:90px;
    height: 50px;
    border-radius: 15px;
}
#Enviar:hover{
    background:rgb(3, 218, 247);
    cursor: pointer;
    color: rgb(255, 254, 254);
    transition: .7s;
}
.button{
    display:inline-block;
    background: rgb(245, 209, 4);

}
.button{
    display: inline-block;
    text-align: center;
    margin: 20px;
}
.button__inicio a{
    color: black;
    background: rgb(250, 212, 0);
    font-size: 1.3rem;
    padding: auto;
}
.button__inicio a:hover{
    background: rgb(245, 219, 74);
    box-shadow: 0px 0px 10px gold;
    transition: 0.5s;
}
#footer{
    width: 100%;
    text-align: center;
    background: black;
}
#footer h2{
    font-size: 1rem;
    margin:40px;
}
#footer a{
    font-size: .8rem;
    background: none;
}
#footer img{
    width: 30px;
    margin:10px;
    background:none;
}
#footer img:hover{
    background:rgb(185, 168, 71);
    transition: 0.6s;
}
#footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.footer__nav h2{
    font-size: 1rem;
    color: rgb(218, 191, 43);
    background: rgb(12, 12, 12);
}
.footer__nav ul li{
    margin: 1rem;
}
.footer__nav ul li a{
    color: rgb(199, 180, 86);
    font-size: 1.1rem;
}
.footer__nav ul li a:hover{
    background: rgba(41, 41, 40, 0.623);
    color: rgb(230, 201, 41);
    transition: 0.5s;
    box-shadow: 0px 0px 10px ,0px 0px 5px inset;
    border-radius: 10%;
}
/*GALERIA*/
.title__galeria{
    background: none;
}
.title__galeria h1{
    font-size: 3rem;
    background: none;
    display: flex;
    justify-content: center;
    padding-top:270px;
}
.title__galeria h2{
    background: none;
    font-size: 1.6rem;
    margin: 100px 0px;
    display: flex;
    justify-content: center; 
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    background: none;
}
.galeria img{
    width:500px;
    margin:30px;
    max-width: 100%;
    max-height: 350px;
    height:100%;
}
.galeria img:hover{
    box-shadow: 0px 0px 30px;
    cursor: pointer;
    transition: 0.6s;
    margin-top: 45px;
}
iframe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
    margin: 40px;
    height:400px;
}
/* CONTACTOS*/
.contactanos{
    background: none;
    padding-top:470px;
}
.contactanos__title{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background: none;
}
/*INFORMACION*/
#ubic{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background: none;
}
.centrar{
    text-align: center;
    background: none;
    padding-top: 150px;
}
.centar__parr{
    text-align: center;
    background: none;
}
.centar__parr h1{
    margin: 50px;
}
/*PREMIOS*/
#titl{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background: none;
}
#parr{
    display: flex;
    justify-content: center;
    background: none;
    font-size: 2rem;
    color: rgb(196, 176, 63);
}